body {
    background-image: url(https://www.technoduce.com/images/multi-vendor--ecommerce-software.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  